<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Endpoint1" value="/todos/1"/>
		<add key="Endpoint2" value="/todos/2"/>
		<add key="BaseUrl" value="https://jsonplaceholder.typicode.com"/>
		<add key="APIKey" value="reeEQitM0rEsVOdhd7Ed"/>
		
	</appSettings>
</configuration>