<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Endpoint1" value="/todos/1"/>
		<add key="Endpoint2" value="/todos/2"/>
		<add key="Endpoint3" value="/v2/schedule"/>
		<add key="Endpoint4" value="/v2/schedule_expanded"/>
		<add key="BaseUrl" value="http://146.190.130.247:5011/donbest"/>
		<add key="123123" value="http://146.190.130.247:5011/donbest"/>
		<add key="15345" value="https://jsonplaceholder.typicode.com"/>
		<add key="APIKey" value="reeEQitM0rEsVOdhd7Ed"/>
		
	</appSettings>
</configuration>
