<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Endpoint1" value="/v2/schedule"/>
		<add key="Endpoint2" value="/v2/schedule_expanded"/>
		<add key="BaseUrl" value="http://146.190.130.247:5011/donbest"/>
		<add key="APIKey" value="reeEQitM0rEsVOdhd7Ed"/>
		
	</appSettings>
</configuration>